<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" media="all" href="CSS/style.css" />
</head>
<body>
	<div align="right">
		<a th:href="@{/Logout}">Logout</a>
	</div>
	<div align="left">
		<a th:href="@{/homepage}">Back</a>
	</div>

	<h5 th:text=" ${'your folder id is: ' + folderId}" ></h5>
	<div th:if=" ${folders.size() > 0}">
		<table>
			<tbody>
				<tr th:each="f : ${folders}">
					<td th:text="${f.nome}"></td>
				</tr>
			</tbody>
		</table>
	</div>  
	<div th:if=" ${doc.size() >0}" class="docs">
		<table>
			<tbody>
				<tr th:each="d : ${doc}">
					<td th:text="${d.nome}"></td>
					<td><a th:href="@{/documento(docid=${d.docId})}">accedi</a></td>
					<td><a th:href="@{/homepage(docid=${d.docId})}">sposta</a></td>
				</tr>
			</tbody>
		</table>
	</div>  

</body>
</html>