<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
<display-name>Traccia2</display-name>
  <context-param>
    <param-name>dbUrl</param-name>
    <param-value>jdbc:mysql://localhost:3306/tracciaDB?serverTimezone=UTC</param-value>
  </context-param>
  <context-param>
    <param-name>dbUser</param-name>
    <param-value>root</param-value>
  </context-param>
  <context-param>
    <param-name>dbPassword</param-name>
    <param-value>tiw</param-value>
  </context-param>
  <context-param>
    <param-name>dbDriver</param-name>
    <param-value>com.mysql.cj.jdbc.Driver</param-value>
  </context-param>
 
  <!--added filters to stop unauthorosied users and not allow users to cache page of the web app, allowing it to be always responsive -->
   <filter> 
      <filter-name>LoginChecker</filter-name>
      <filter-class>it.polimi.tiw.filters.LoginChecker</filter-class> 
 </filter> 
 <filter> 
      <filter-name>NoCacher</filter-name>
      <filter-class>it.polimi.tiw.filters.NoCacher</filter-class> 
 </filter> 
   <filter-mapping> 
    <filter-name>NoCacher</filter-name> 
    <url-pattern>/Home.html</url-pattern> 
 </filter-mapping> 
  <filter-mapping> 
    <filter-name>LoginChecker</filter-name> 
    <url-pattern>/CreateDoc</url-pattern> 
    <url-pattern>/CreateFolder</url-pattern> 
    <url-pattern>/FolderData</url-pattern> 
    <url-pattern>/GetDocDetailsData</url-pattern> 
    <url-pattern>/GetFolderDetailsData</url-pattern> 
    <url-pattern>/MoveDoc</url-pattern>
    <url-pattern>/RemoveDoc</url-pattern>
    <url-pattern>/RemoveFolder</url-pattern>
    <url-pattern>/Logout</url-pattern> 
    <url-pattern>/Home.html</url-pattern> 
 </filter-mapping> 
 
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
    <welcome-file>login.htm</welcome-file>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
 
</web-app>